In [113]:
import pandas as pd
import numpy as np
import csv

In [114]:
with open('neighbors.csv', newline='') as f:
    reader = csv.reader(f)
    neighbors = list(reader)
neighbors

[['state/ut', 'neighbors'],
 ['Andhra Pradesh',
  'Odisha',
  'Chhattisgarh',
  'Maharashtra',
  'Karnataka',
  'Tamil Nadu'],
 ['Arunachal Pradesh', 'Assam', 'Nagaland'],
 ['Assam',
  'Arunachal Pradesh',
  'Nagaland',
  'Manipur',
  'Mizoram',
  'Tripura',
  'Meghalaya',
  'West Bengal'],
 ['Bihar', 'Uttar Pradesh', 'Jharkhand', 'West Bengal'],
 ['Chhattisgarh',
  'Uttar Pradesh',
  'Jharkhand',
  'Odisha',
  'Madhya Pradesh',
  'Maharashtra',
  'Andhra Pradesh'],
 ['Goa', 'Maharashtra', 'Karnataka'],
 ['Gujarat',
  'Rajasthan',
  'Madhya Pradesh',
  'Maharashtra',
  'Dadra & Nagar Haveli'],
 ['Haryana',
  'Delhi',
  'Uttar Pradesh',
  'Himachal Pradesh',
  'Punjab',
  'Rajasthan',
  'Chandigarh'],
 ['Himachal Pradesh',
  'Jammu & Kashmir',
  'Punjab',
  'Haryana',
  'Uttarakhand',
  'Uttar Pradesh'],
 ['Jammu & Kashmir', 'Himachal Pradesh', 'Punjab'],
 ['Jharkhand',
  'Bihar',
  'West Bengal',
  'Odisha',
  'Chhattisgarh',
  'Uttar Pradesh'],
 ['Karnataka',
  'Maharashtra',
  'Andhra Pradesh',
  'Tamil Nadu',
  ' Kerala',
  'Goa'],
 ['Kerala', 'Karnataka', 'Tamil Nadu'],
 ['Madhya Pradesh',
  'Rajasthan',
  'Uttar Pradesh',
  'Chhattisgarh',
  'Maharashtra',
  'Gujarat'],
 ['Maharashtra',
  'Gujarat',
  'Madhya Pradesh',
  'Chhattisgarh',
  'Andhra Pradesh',
  'Karnataka',
  'Goa',
  'Dadra & Nagar Haveli'],
 ['Manipur', 'Nagaland', 'Mizoram', 'Assam'],
 ['Meghalaya', 'Assam'],
 ['Mizoram', 'Manipur', 'Assam', 'Tripura'],
 ['Nagaland', 'Arunachal Pradesh', 'Assam', 'Manipur'],
 ['Odisha', 'West Bengal', 'Jharkhand', 'Chhattisgarh', 'Andhra Pradesh'],
 ['Punjab',
  'Jammu & Kashmir',
  'Himachal Pradesh',
  'Haryana',
  'Rajasthan',
  'Chandigarh'],
 ['Rajasthan',
  'Punjab',
  'Haryana',
  'Uttar Pradesh',
  'Madhya Pradesh',
  'Gujarat'],
 ['Sikkim', 'West Bengal'],
 ['Tamil Nadu', 'Kerala', 'Karnataka', 'Andhra Pradesh', 'Puducherry'],
 ['Tripura', 'Assam', 'Mizoram'],
 ['Uttarakhand', 'Himachal Pradesh', 'Uttar Pradesh'],
 ['Uttar Pradesh',
  'Uttarakhand',
  'Himachal Pradesh',
  'Haryana',
  'Rajasthan',
  'Madhya Pradesh',
  'Chhattisgarh',
  'Jharkhand',
  'Bihar',
  'Delhi'],
 ['West Bengal', 'Sikkim', 'Assam', 'Bihar', 'Jharkhand', 'Odisha'],
 ['Andaman & Nicobar Islands', ''],
 ['Chandigarh', 'Punjab', 'Haryana'],
 ['Dadra & Nagar Haveli', 'Gujarat', 'Maharashtra'],
 ['Daman & Diu', ''],
 ['Delhi', 'Haryana', 'Uttar Pradesh'],
 ['Lakshadweep', ''],
 ['Puducherry', 'Tamil Nadu']]

In [118]:
sikkim_neighbor=[]
manipur_neighbor=[]
arunachal_neighbor=[]
for ele in neighbors:
    if ele[0]=='Sikkim':
        sikkim_neighbor=ele[1:]
    elif ele[0]=='Manipur':
        manipur_neighbor=ele[1:]
    elif ele[0]=='Arunachal Pradesh':
        arunachal_neighbor=ele[1:]

In [119]:
sikkim_neighbor

['West Bengal']

In [120]:
 manipur_neighbor

['Nagaland', 'Mizoram', 'Assam']

In [121]:
arunachal_neighbor

['Assam', 'Nagaland']

In [122]:
air_quality=pd.read_csv("filled_data_air.csv")
air_quality

              State  Year        so2        no2        rspm
0    Andhra Pradesh  2005   6.105913  30.127730   79.360536
1    Andhra Pradesh  2006   7.933036  27.641621   85.938764
2    Andhra Pradesh  2007   6.538941  27.037308   81.513882
3    Andhra Pradesh  2008   6.935286  25.310250   82.358348
4    Andhra Pradesh  2009   7.343622  22.135101   82.743996
..              ...   ...        ...        ...         ...
289     West Bengal  2010   9.691667  64.592797  108.810923
290     West Bengal  2011  17.134927  56.929974  117.222886
291     West Bengal  2012  41.414067  54.673853  106.147553
292     West Bengal  2013  10.454104  63.811210  157.493262
293     West Bengal  2014   8.076540  57.616055  115.317362

[294 rows x 5 columns]

In [55]:
air_quality

              State  Year        so2        no2        rspm
0    Andhra Pradesh  2005   6.105913  30.127730   79.360536
1    Andhra Pradesh  2006   7.933036  27.641621   85.938764
2    Andhra Pradesh  2007   6.538941  27.037308   81.513882
3    Andhra Pradesh  2008   6.935286  25.310250   82.358348
4    Andhra Pradesh  2009   7.343622  22.135101   82.743996
..              ...   ...        ...        ...         ...
297     West Bengal  2010   9.691667  64.592797  108.810923
298     West Bengal  2011  17.134927  56.929974  117.222886
299     West Bengal  2012  41.414067  54.673853  106.147554
300     West Bengal  2013  10.454104  63.811210  157.493262
301     West Bengal  2014   8.076540  57.616055  115.317362

[302 rows x 5 columns]

## finding missing values for sikkim

In [123]:
air_quality[air_quality['State']=='Sikkim']

      State  Year   so2   no2  rspm
253  Sikkim  2007  19.8  26.8  32.0

In [124]:
air_quality[air_quality['State']=='West Bengal']

           State  Year        so2        no2        rspm
284  West Bengal  2005   9.957436  52.804930  120.473048
285  West Bengal  2006   7.375616  57.061971  112.713444
286  West Bengal  2007   7.596230  59.282003  101.390157
287  West Bengal  2008   8.849770  67.289603  106.535933
288  West Bengal  2009  12.529461  65.040622  151.831832
289  West Bengal  2010   9.691667  64.592797  108.810923
290  West Bengal  2011  17.134927  56.929974  117.222886
291  West Bengal  2012  41.414067  54.673853  106.147553
292  West Bengal  2013  10.454104  63.811210  157.493262
293  West Bengal  2014   8.076540  57.616055  115.317362

In [125]:
#calculation to find ratio of so2,no2 & rspm for sikkim & west bengal 
sikkim_so2=list(air_quality[air_quality['State']=='Sikkim']['so2'])[0]
sikkim_no2=list(air_quality[air_quality['State']=='Sikkim']['no2'])[0]
sikkim_rspm=list(air_quality[air_quality['State']=='Sikkim']['rspm'])[0]

In [126]:
westBengal_so2=list(air_quality[(air_quality['State']=='West Bengal') & (air_quality['Year']==2007)]['so2'])[0]
westBengal_no2=list(air_quality[(air_quality['State']=='West Bengal') & (air_quality['Year']==2007)]['no2'])[0]
westBengal_rspm=list(air_quality[(air_quality['State']=='West Bengal') & (air_quality['Year']==2007)]['rspm'])[0]

In [127]:
sikkim_so2ratio=sikkim_so2/westBengal_so2
sikkim_so2ratio

2.606556021342231

In [128]:
sikkim_no2ratio=sikkim_no2/westBengal_no2
sikkim_no2ratio

0.4520764917681688

In [129]:
sikkim_rspmratio=sikkim_rspm/westBengal_rspm
sikkim_rspmratio

0.3156124899315054

In [130]:
#values of so2 in WB for every year
westBengal_SO2=list(air_quality[(air_quality['State']=='West Bengal')]['so2'])
westBengal_SO2

[9.957436399,
 7.375616292,
 7.596230366,
 8.84976985,
 12.52946058,
 9.691666667,
 17.13492741,
 41.41406728,
 10.45410413,
 8.076540137]

In [131]:
#finding values of so2 in sikkim for every year
sikkim_SO2=[]
for ele in westBengal_SO2:
    sikkim_SO2.append(ele*sikkim_so2ratio)

In [132]:
sikkim_SO2

[25.954615802945753,
 19.224957057022458,
 19.8,
 23.067420890010432,
 32.65874091896912,
 25.26187210771064,
 44.663148215797534,
 107.94808643695626,
 27.249208067790182,
 21.05195432570956]

In [133]:
#values of no2 in WB for every year
westBengal_NO2=list(air_quality[(air_quality['State']=='West Bengal')]['no2'])
westBengal_NO2

[52.80493023,
 57.06197108,
 59.28200313,
 67.28960313,
 65.04062187,
 64.59279661,
 56.92997438,
 54.67385321,
 63.8112098,
 57.61605476]

In [134]:
#finding values of no2 in sikkim for every year
sikkim_NO2=[]
for ele in westBengal_NO2:
    sikkim_NO2.append(ele*sikkim_no2ratio)
sikkim_NO2

[23.87186760644132,
 25.796375699223105,
 26.8,
 30.42004771548279,
 29.40333615740963,
 29.20088488494366,
 25.736703094162127,
 24.716763750624633,
 28.84754786186659,
 26.0468639054235]

In [135]:
#values of rspm in WB for every year
westBengal_rspm=list(air_quality[(air_quality['State']=='West Bengal')]['rspm'])
westBengal_rspm

[120.4730483,
 112.713444,
 101.3901573,
 106.5359331,
 151.83183180000003,
 108.81092279999999,
 117.22288640000001,
 106.14755349999999,
 157.4932619,
 115.3173615]

In [136]:
#finding values of rspm in sikkim for every year
sikkim_rspm=[]
for ele in westBengal_rspm:
    sikkim_rspm.append(ele*sikkim_rspmratio)
sikkim_rspm

[38.02279874360152,
 35.5737707095953,
 32.0,
 33.624071112867284,
 47.92002248525954,
 34.34208627665281,
 36.99700705366201,
 33.50149366027268,
 49.70684053569369,
 36.395599595346525]

In [137]:
missing_rows=[]
for i in range(0,10):
    if(i!=2):
        missing_rows.append(['Sikkim',2005+i,sikkim_SO2[i],sikkim_NO2[i],sikkim_rspm[i]])
missing_rows

[['Sikkim', 2005, 25.954615802945753, 23.87186760644132, 38.02279874360152],
 ['Sikkim', 2006, 19.224957057022458, 25.796375699223105, 35.5737707095953],
 ['Sikkim', 2008, 23.067420890010432, 30.42004771548279, 33.624071112867284],
 ['Sikkim', 2009, 32.65874091896912, 29.40333615740963, 47.92002248525954],
 ['Sikkim', 2010, 25.26187210771064, 29.20088488494366, 34.34208627665281],
 ['Sikkim', 2011, 44.663148215797534, 25.736703094162127, 36.99700705366201],
 ['Sikkim', 2012, 107.94808643695626, 24.716763750624633, 33.50149366027268],
 ['Sikkim', 2013, 27.249208067790182, 28.84754786186659, 49.70684053569369],
 ['Sikkim', 2014, 21.05195432570956, 26.0468639054235, 36.395599595346525]]

## finding missing values for Arunachal Pradesh

In [138]:
air_quality[air_quality['State']=='Arunachal Pradesh']

                State  Year  so2  no2  rspm
10  Arunachal Pradesh  2014  2.0  5.0  69.4

In [139]:
arunachal_so2=list(air_quality[(air_quality['State']=='Arunachal Pradesh') & (air_quality['Year']==2014)]['so2'])[0]
arunachal_no2=list(air_quality[(air_quality['State']=='Arunachal Pradesh') & (air_quality['Year']==2014)]['no2'])[0]
arunachal_rspm=list(air_quality[(air_quality['State']=='Arunachal Pradesh') & (air_quality['Year']==2014)]['rspm'])[0]

### neighbor of Arunachal Pradesh: Assam , Nagaland

In [140]:
assam_so2=list(air_quality[(air_quality['State']=='Assam') & (air_quality['Year']==2014)]['so2'])[0]
assam_no2=list(air_quality[(air_quality['State']=='Assam') & (air_quality['Year']==2014)]['no2'])[0]
assam_rspm=list(air_quality[(air_quality['State']=='Assam') & (air_quality['Year']==2014)]['rspm'])[0]

In [141]:
nagaland_so2=list(air_quality[(air_quality['State']=='Nagaland') & (air_quality['Year']==2014)]['so2'])[0]
nagaland_no2=list(air_quality[(air_quality['State']=='Nagaland') & (air_quality['Year']==2014)]['no2'])[0]
nagaland_rspm=list(air_quality[(air_quality['State']=='Nagaland') & (air_quality['Year']==2014)]['rspm'])[0]

In [142]:
arunachal_so2ratio1=arunachal_so2/assam_so2
arunachal_so2ratio2=arunachal_so2/nagaland_so2
arunachal_no2ratio1=arunachal_no2/assam_no2
arunachal_no2ratio2=arunachal_no2/nagaland_no2
arunachal_rspmratio1=arunachal_rspm/assam_rspm
arunachal_rspmratio2=arunachal_rspm/nagaland_rspm

In [143]:
#values of so2 in assam & nagaland for every year
assam_SO2=list(air_quality[(air_quality['State']=='Assam')]['so2'])
nagaland_SO2=list(air_quality[(air_quality['State']=='Nagaland')]['so2'])
assam_SO2

[5.327000000000001,
 6.19057117,
 7.359834123,
 6.377758768,
 6.822799097000001,
 7.050862852000001,
 6.567201777999999,
 6.083540704,
 6.94160852,
 6.808833272]

In [144]:
#finding values of so2 in arunachal for every year
arunachal_SO2=[]
for i in range(0,10):
    val1=assam_SO2[i]*arunachal_so2ratio1
    val2=nagaland_SO2[i]*arunachal_so2ratio2
    arunachal_SO2.append((val1+val2)/2)
arunachal_SO2

[1.992983811656848,
 2.294911342131937,
 2.6417352262395215,
 3.586688932335484,
 2.8520511333501783,
 2.0355464101309835,
 1.9645120559797427,
 1.8934777018285018,
 2.0195004404860395,
 2.0]

In [145]:
#values of no2 in assam & nagaland for every year
assam_NO2=list(air_quality[(air_quality['State']=='Assam')]['no2'])
nagaland_NO2=list(air_quality[(air_quality['State']=='Nagaland')]['no2'])

In [146]:
#finding values of no2 in arunachal for every year
arunachal_NO2=[]
for i in range(0,10):
    val1=assam_NO2[i]*arunachal_no2ratio1
    val2=nagaland_NO2[i]*arunachal_no2ratio2
    arunachal_NO2.append((val1+val2)/2)
arunachal_NO2

[10.811324898928977,
 10.409247059195213,
 9.885135580695925,
 9.710346173484682,
 11.225202357117627,
 6.207139278671154,
 5.809134920382736,
 5.459178164382751,
 5.483520533679032,
 5.0]

In [147]:
#values of rspm in assam & nagaland for every year
assam_rspm=list(air_quality[(air_quality['State']=='Assam')]['rspm'])
nagaland_rspm=list(air_quality[(air_quality['State']=='Nagaland')]['rspm'])

In [148]:
#finding values of rspm in arunachal for every year
arunachal_rspm=[]
for i in range(0,10):
    val1=assam_rspm[i]*arunachal_rspmratio1
    val2=nagaland_rspm[i]*arunachal_rspmratio2
    arunachal_rspm.append((val1+val2)/2)
arunachal_rspm

[76.35110332503852,
 66.64280449929419,
 60.34618610772428,
 65.21718338402528,
 69.82185408187343,
 60.778610155580246,
 64.35411819436021,
 66.2739657028031,
 86.4334975033006,
 69.4]

In [149]:
for i in range(0,9):
    missing_rows.append(['Arunachal Pradesh',2005+i,arunachal_SO2[i],arunachal_NO2[i],arunachal_rspm[i]])
missing_rows

[['Sikkim', 2005, 25.954615802945753, 23.87186760644132, 38.02279874360152],
 ['Sikkim', 2006, 19.224957057022458, 25.796375699223105, 35.5737707095953],
 ['Sikkim', 2008, 23.067420890010432, 30.42004771548279, 33.624071112867284],
 ['Sikkim', 2009, 32.65874091896912, 29.40333615740963, 47.92002248525954],
 ['Sikkim', 2010, 25.26187210771064, 29.20088488494366, 34.34208627665281],
 ['Sikkim', 2011, 44.663148215797534, 25.736703094162127, 36.99700705366201],
 ['Sikkim', 2012, 107.94808643695626, 24.716763750624633, 33.50149366027268],
 ['Sikkim', 2013, 27.249208067790182, 28.84754786186659, 49.70684053569369],
 ['Sikkim', 2014, 21.05195432570956, 26.0468639054235, 36.395599595346525],
 ['Arunachal Pradesh',
  2005,
  1.992983811656848,
  10.811324898928977,
  76.35110332503852],
 ['Arunachal Pradesh',
  2006,
  2.294911342131937,
  10.409247059195213,
  66.64280449929419],
 ['Arunachal Pradesh',
  2007,
  2.6417352262395215,
  9.885135580695925,
  60.34618610772428],
 ['Arunachal Pradesh',
  2008,
  3.586688932335484,
  9.710346173484682,
  65.21718338402528],
 ['Arunachal Pradesh',
  2009,
  2.8520511333501783,
  11.225202357117627,
  69.82185408187343],
 ['Arunachal Pradesh',
  2010,
  2.0355464101309835,
  6.207139278671154,
  60.778610155580246],
 ['Arunachal Pradesh',
  2011,
  1.9645120559797427,
  5.809134920382736,
  64.35411819436021],
 ['Arunachal Pradesh',
  2012,
  1.8934777018285018,
  5.459178164382751,
  66.2739657028031],
 ['Arunachal Pradesh',
  2013,
  2.0195004404860395,
  5.483520533679032,
  86.4334975033006]]

# Finding missing values for Manipur

In [150]:
air_quality[air_quality['State']=='Manipur']

       State  Year       so2      no2       rspm
181  Manipur  2007  3.511111  20.5375  64.678571
182  Manipur  2008  4.900000  19.1550  84.200000

In [151]:
manipur2007_so2=list(air_quality[(air_quality['State']=='Manipur') & (air_quality['Year']==2007)]['so2'])[0]
manipur2007_no2=list(air_quality[(air_quality['State']=='Manipur') & (air_quality['Year']==2007)]['no2'])[0]
manipur2007_rspm=list(air_quality[(air_quality['State']=='Manipur') & (air_quality['Year']==2007)]['rspm'])[0]
manipur2008_so2=list(air_quality[(air_quality['State']=='Manipur') & (air_quality['Year']==2008)]['so2'])[0]
manipur2008_no2=list(air_quality[(air_quality['State']=='Manipur') & (air_quality['Year']==2008)]['no2'])[0]
manipur2008_rspm=list(air_quality[(air_quality['State']=='Manipur') & (air_quality['Year']==2008)]['rspm'])[0]

 ## neighbor of manipur: nagaland, mizoram, assam

In [152]:
air_quality[air_quality['State']=='Nagaland']

        State  Year       so2        no2       rspm
203  Nagaland  2005  2.421236  14.760000  79.764706
204  Nagaland  2006  2.771429  14.390094  72.985849
205  Nagaland  2007  3.121622  14.082692  67.442308
206  Nagaland  2008  5.300000  13.990278  72.384259
207  Nagaland  2009  3.700000  16.276667  79.488889
208  Nagaland  2010  2.000000   6.687488  72.442446
209  Nagaland  2011  2.000000   6.141827  82.341346
210  Nagaland  2012  2.000000   5.688042  87.563889
211  Nagaland  2013  2.000000   5.234257  92.786432
212  Nagaland  2014  2.000000   4.780472  98.008975

In [153]:
air_quality[air_quality['State']=='Mizoram']

       State  Year      so2        no2       rspm
193  Mizoram  2005  1.83600  13.349890  27.856287
194  Mizoram  2006  3.56800  10.703015  38.857651
195  Mizoram  2007  5.30000   8.056140  39.689420
196  Mizoram  2008  4.20000   7.246286  37.304207
197  Mizoram  2009  3.10000   6.379446  39.450180
198  Mizoram  2010  2.00000   5.512607  41.596154
199  Mizoram  2011  2.00000   5.537590  39.521786
200  Mizoram  2012  2.00000   7.095745  54.326241
201  Mizoram  2013  2.13856   6.701169  48.716169
202  Mizoram  2014  2.04152   6.189474  43.069883

In [154]:
air_quality[air_quality['State']=='Assam']

    State  Year       so2        no2        rspm
11  Assam  2005  5.327000  17.383051  111.948454
12  Assam  2006  6.190571  16.210295   94.942857
13  Assam  2007  7.359834  14.167828   84.858213
14  Assam  2008  6.377759  13.456973   92.121186
15  Assam  2009  6.822799  15.251051   96.982746
16  Assam  2010  7.050863  15.232516   81.745116
17  Assam  2011  6.567202  14.599319   81.909885
18  Assam  2012  6.083541  13.966122   82.074653
19  Assam  2013  6.941609  15.436926  124.681418
20  Assam  2014  6.808833  14.052943   80.743571

In [155]:
#values for nagaland 2007
nagaland_2007_so2=list(air_quality[(air_quality['State']=='Nagaland') & (air_quality['Year']==2007)]['so2'])[0]
nagaland_2007_no2=list(air_quality[(air_quality['State']=='Nagaland') & (air_quality['Year']==2007)]['no2'])[0]
nagaland_2007_rspm=list(air_quality[(air_quality['State']=='Nagaland') & (air_quality['Year']==2007)]['rspm'])[0]

#values for nagaland 2008
nagaland_2008_so2=list(air_quality[(air_quality['State']=='Nagaland') & (air_quality['Year']==2008)]['so2'])[0]
nagaland_2008_no2=list(air_quality[(air_quality['State']=='Nagaland') & (air_quality['Year']==2008)]['no2'])[0]
nagaland_2008_rspm=list(air_quality[(air_quality['State']=='Nagaland') & (air_quality['Year']==2008)]['rspm'])[0]

In [156]:
#values for mizoram 2007
mizoram_2007_so2=list(air_quality[(air_quality['State']=='Mizoram') & (air_quality['Year']==2007)]['so2'])[0]
mizoram_2007_no2=list(air_quality[(air_quality['State']=='Mizoram') & (air_quality['Year']==2007)]['no2'])[0]
mizoram_2007_rspm=list(air_quality[(air_quality['State']=='Mizoram') & (air_quality['Year']==2007)]['rspm'])[0]

#values for mizoram 2008
mizoram_2008_so2=list(air_quality[(air_quality['State']=='Mizoram') & (air_quality['Year']==2008)]['so2'])[0]
mizoram_2008_no2=list(air_quality[(air_quality['State']=='Mizoram') & (air_quality['Year']==2008)]['no2'])[0]
mizoram_2008_rspm=list(air_quality[(air_quality['State']=='Mizoram') & (air_quality['Year']==2008)]['rspm'])[0]

In [157]:
#values for assam 2007
assam_2007_so2=list(air_quality[(air_quality['State']=='Assam') & (air_quality['Year']==2007)]['so2'])[0]
assam_2007_no2=list(air_quality[(air_quality['State']=='Assam') & (air_quality['Year']==2007)]['no2'])[0]
assam_2007_rspm=list(air_quality[(air_quality['State']=='Assam') & (air_quality['Year']==2007)]['rspm'])[0]

#values for assam 2008
assam_2008_so2=list(air_quality[(air_quality['State']=='Assam') & (air_quality['Year']==2008)]['so2'])[0]
assam_2008_no2=list(air_quality[(air_quality['State']=='Assam') & (air_quality['Year']==2008)]['no2'])[0]
assam_2008_rspm=list(air_quality[(air_quality['State']=='Assam') & (air_quality['Year']==2008)]['rspm'])[0]

In [161]:
#ratios for 2007
manipur2007_so2ratio1=manipur2007_so2/nagaland_2007_so2
manipur2007_so2ratio2=manipur2007_so2/mizoram_2007_so2
manipur2007_so2ratio3=manipur2007_so2/assam_2007_so2

manipur2007_no2ratio1=manipur2007_no2/nagaland_2007_no2
manipur2007_no2ratio2=manipur2007_no2/mizoram_2007_no2
manipur2007_no2ratio3=manipur2007_no2/assam_2007_no2

manipur2007_rspmratio1=manipur2007_rspm/nagaland_2007_rspm
manipur2007_rspmratio2=manipur2007_rspm/mizoram_2007_rspm
manipur2007_rspmratio3=manipur2007_rspm/assam_2007_rspm

In [162]:
#ratios for 2008
manipur2008_so2ratio1=manipur2008_so2/nagaland_2008_so2
manipur2008_so2ratio2=manipur2008_so2/mizoram_2008_so2
manipur2008_so2ratio3=manipur2008_so2/assam_2008_so2

manipur2008_no2ratio1=manipur2008_no2/nagaland_2008_no2
manipur2008_no2ratio2=manipur2008_no2/mizoram_2008_no2
manipur2008_no2ratio3=manipur2008_no2/assam_2008_no2

manipur2008_rspmratio1=manipur2008_rspm/nagaland_2008_rspm
manipur2008_rspmratio2=manipur2008_rspm/mizoram_2008_rspm
manipur2008_rspmratio3=manipur2008_rspm/assam_2008_rspm

In [163]:
#finding mean ratios of 2007 & 2008
manipur_so2ratio1= (manipur2007_so2ratio1+manipur2008_so2ratio1)/2
manipur_so2ratio2= (manipur2007_so2ratio2+manipur2008_so2ratio2)/2
manipur_so2ratio3= (manipur2007_so2ratio3+manipur2008_so2ratio3)/2

manipur_no2ratio1= (manipur2007_no2ratio1+manipur2008_no2ratio1)/2
manipur_no2ratio2= (manipur2007_no2ratio2+manipur2008_no2ratio2)/2
manipur_no2ratio3= (manipur2007_no2ratio3+manipur2008_no2ratio3)/2

manipur_rspmratio1= (manipur2007_rspmratio1+manipur2008_rspmratio1)/2
manipur_rspmratio2= (manipur2007_rspmratio2+manipur2008_rspmratio2)/2
manipur_rspmratio3= (manipur2007_rspmratio3+manipur2008_rspmratio3)/2

In [164]:
#values of so2 in nagaland,mizoram & assam for every year
assam_SO2=list(air_quality[(air_quality['State']=='Assam')]['so2'])
nagaland_SO2=list(air_quality[(air_quality['State']=='Nagaland')]['so2'])
mizoram_SO2=list(air_quality[(air_quality['State']=='Mizoram')]['so2'])

In [165]:
#finding values of so2 in manipur for every year
manipur_SO2=[]
for i in range(0,10):
    val1=nagaland_SO2[i]*manipur_so2ratio1
    val2=mizoram_SO2[i]*manipur_so2ratio2
    val3=assam_SO2[i]*manipur_so2ratio3
    manipur_SO2.append((val1+val2+val3)/3)
manipur_SO2

[2.492361015525382,
 3.3192239900960985,
 4.2095362936561305,
 4.414379572888144,
 3.6249296877658366,
 2.756289188884278,
 2.65590058786533,
 2.555511986846383,
 2.7758534344385843,
 2.718711369711805]

In [166]:
#values of no2 in nagaland,mizoram & assam for every year
assam_NO2=list(air_quality[(air_quality['State']=='Assam')]['no2'])
nagaland_NO2=list(air_quality[(air_quality['State']=='Nagaland')]['no2'])
mizoram_NO2=list(air_quality[(air_quality['State']=='Mizoram')]['no2'])

In [167]:
#finding values of no2 in manipur for every year
manipur_NO2=[]
for i in range(0,10):
    val1=nagaland_NO2[i]*manipur_no2ratio1
    val2=mizoram_NO2[i]*manipur_no2ratio2
    val3=assam_NO2[i]*manipur_no2ratio3
    manipur_NO2.append((val1+val2+val3)/3)
manipur_NO2

[26.833017697134323,
 23.806394879145387,
 20.392778165613123,
 19.30795333630151,
 20.494279054019717,
 15.216269336872083,
 14.677549807645109,
 15.50901547162806,
 15.657954350678523,
 14.338558708266069]

In [168]:
#values of rspm in nagaland,mizoram & assam for every year
assam_rspm=list(air_quality[(air_quality['State']=='Assam')]['rspm'])
nagaland_rspm=list(air_quality[(air_quality['State']=='Nagaland')]['rspm'])
mizoram_rspm=list(air_quality[(air_quality['State']=='Mizoram')]['rspm'])

In [169]:
#finding values of rspm in manipur for every year
manipur_rspm=[]
for i in range(0,10):
    val1=nagaland_rspm[i]*manipur_rspmratio1
    val2=mizoram_rspm[i]*manipur_rspmratio2
    val3=assam_rspm[i]*manipur_rspmratio3
    manipur_rspm.append((val1+val2+val3)/3)
manipur_rspm

[77.53337645124309,
 77.51137276373667,
 73.27205140476137,
 75.50399525699929,
 80.76527385444973,
 75.40610931281604,
 77.60972269275611,
 89.09318361583519,
 99.20927703937066,
 85.1240999359407]

In [170]:
for i in range(0,10):
    if(i!=2 and i!=3):
        missing_rows.append(['Manipur',2005+i,manipur_SO2[i],manipur_NO2[i],manipur_rspm[i]])
missing_rows

[['Sikkim', 2005, 25.954615802945753, 23.87186760644132, 38.02279874360152],
 ['Sikkim', 2006, 19.224957057022458, 25.796375699223105, 35.5737707095953],
 ['Sikkim', 2008, 23.067420890010432, 30.42004771548279, 33.624071112867284],
 ['Sikkim', 2009, 32.65874091896912, 29.40333615740963, 47.92002248525954],
 ['Sikkim', 2010, 25.26187210771064, 29.20088488494366, 34.34208627665281],
 ['Sikkim', 2011, 44.663148215797534, 25.736703094162127, 36.99700705366201],
 ['Sikkim', 2012, 107.94808643695626, 24.716763750624633, 33.50149366027268],
 ['Sikkim', 2013, 27.249208067790182, 28.84754786186659, 49.70684053569369],
 ['Sikkim', 2014, 21.05195432570956, 26.0468639054235, 36.395599595346525],
 ['Arunachal Pradesh',
  2005,
  1.992983811656848,
  10.811324898928977,
  76.35110332503852],
 ['Arunachal Pradesh',
  2006,
  2.294911342131937,
  10.409247059195213,
  66.64280449929419],
 ['Arunachal Pradesh',
  2007,
  2.6417352262395215,
  9.885135580695925,
  60.34618610772428],
 ['Arunachal Pradesh',
  2008,
  3.586688932335484,
  9.710346173484682,
  65.21718338402528],
 ['Arunachal Pradesh',
  2009,
  2.8520511333501783,
  11.225202357117627,
  69.82185408187343],
 ['Arunachal Pradesh',
  2010,
  2.0355464101309835,
  6.207139278671154,
  60.778610155580246],
 ['Arunachal Pradesh',
  2011,
  1.9645120559797427,
  5.809134920382736,
  64.35411819436021],
 ['Arunachal Pradesh',
  2012,
  1.8934777018285018,
  5.459178164382751,
  66.2739657028031],
 ['Arunachal Pradesh',
  2013,
  2.0195004404860395,
  5.483520533679032,
  86.4334975033006],
 ['Manipur', 2005, 2.492361015525382, 26.833017697134323, 77.53337645124309],
 ['Manipur', 2006, 3.3192239900960985, 23.806394879145387, 77.51137276373667],
 ['Manipur', 2009, 3.6249296877658366, 20.494279054019717, 80.76527385444973],
 ['Manipur', 2010, 2.756289188884278, 15.216269336872083, 75.40610931281604],
 ['Manipur', 2011, 2.65590058786533, 14.677549807645109, 77.60972269275611],
 ['Manipur', 2012, 2.555511986846383, 15.50901547162806, 89.09318361583519],
 ['Manipur', 2013, 2.7758534344385843, 15.657954350678523, 99.20927703937066],
 ['Manipur', 2014, 2.718711369711805, 14.338558708266069, 85.1240999359407]]

In [171]:
df=pd.DataFrame(missing_rows,columns=['State','Year','so2','no2','rspm'])
df

                State  Year         so2        no2       rspm
0              Sikkim  2005   25.954616  23.871868  38.022799
1              Sikkim  2006   19.224957  25.796376  35.573771
2              Sikkim  2008   23.067421  30.420048  33.624071
3              Sikkim  2009   32.658741  29.403336  47.920022
4              Sikkim  2010   25.261872  29.200885  34.342086
5              Sikkim  2011   44.663148  25.736703  36.997007
6              Sikkim  2012  107.948086  24.716764  33.501494
7              Sikkim  2013   27.249208  28.847548  49.706841
8              Sikkim  2014   21.051954  26.046864  36.395600
9   Arunachal Pradesh  2005    1.992984  10.811325  76.351103
10  Arunachal Pradesh  2006    2.294911  10.409247  66.642804
11  Arunachal Pradesh  2007    2.641735   9.885136  60.346186
12  Arunachal Pradesh  2008    3.586689   9.710346  65.217183
13  Arunachal Pradesh  2009    2.852051  11.225202  69.821854
14  Arunachal Pradesh  2010    2.035546   6.207139  60.778610
15  Arunachal Pradesh  2011    1.964512   5.809135  64.354118
16  Arunachal Pradesh  2012    1.893478   5.459178  66.273966
17  Arunachal Pradesh  2013    2.019500   5.483521  86.433498
18            Manipur  2005    2.492361  26.833018  77.533376
19            Manipur  2006    3.319224  23.806395  77.511373
20            Manipur  2009    3.624930  20.494279  80.765274
21            Manipur  2010    2.756289  15.216269  75.406109
22            Manipur  2011    2.655901  14.677550  77.609723
23            Manipur  2012    2.555512  15.509015  89.093184
24            Manipur  2013    2.775853  15.657954  99.209277
25            Manipur  2014    2.718711  14.338559  85.124100

In [172]:
new_air_quality = pd.concat([air_quality, df], ignore_index = True) 
new_air_quality

              State  Year       so2        no2       rspm
0    Andhra Pradesh  2005  6.105913  30.127730  79.360536
1    Andhra Pradesh  2006  7.933036  27.641621  85.938764
2    Andhra Pradesh  2007  6.538941  27.037308  81.513882
3    Andhra Pradesh  2008  6.935286  25.310250  82.358348
4    Andhra Pradesh  2009  7.343622  22.135101  82.743996
..              ...   ...       ...        ...        ...
315         Manipur  2010  2.756289  15.216269  75.406109
316         Manipur  2011  2.655901  14.677550  77.609723
317         Manipur  2012  2.555512  15.509015  89.093184
318         Manipur  2013  2.775853  15.657954  99.209277
319         Manipur  2014  2.718711  14.338559  85.124100

[320 rows x 5 columns]

In [174]:
sorted_df = new_air_quality.sort_values(by = ['State', 'Year']) 
sorted_df.reset_index(inplace=True,drop=True)
sorted_df.head(40)

                State  Year        so2        no2        rspm
0      Andhra Pradesh  2005   6.105913  30.127730   79.360536
1      Andhra Pradesh  2006   7.933036  27.641621   85.938764
2      Andhra Pradesh  2007   6.538941  27.037308   81.513882
3      Andhra Pradesh  2008   6.935286  25.310250   82.358348
4      Andhra Pradesh  2009   7.343622  22.135101   82.743996
5      Andhra Pradesh  2010   5.365275  15.397188   69.487281
6      Andhra Pradesh  2011   4.642877  23.969165   78.894097
7      Andhra Pradesh  2012   7.438174  15.762852   77.661990
8      Andhra Pradesh  2013   7.379130  17.400199   76.647496
9      Andhra Pradesh  2014   8.658371  18.582353   74.896863
10  Arunachal Pradesh  2005   1.992984  10.811325   76.351103
11  Arunachal Pradesh  2006   2.294911  10.409247   66.642804
12  Arunachal Pradesh  2007   2.641735   9.885136   60.346186
13  Arunachal Pradesh  2008   3.586689   9.710346   65.217183
14  Arunachal Pradesh  2009   2.852051  11.225202   69.821854
15  Arunachal Pradesh  2010   2.035546   6.207139   60.778610
16  Arunachal Pradesh  2011   1.964512   5.809135   64.354118
17  Arunachal Pradesh  2012   1.893478   5.459178   66.273966
18  Arunachal Pradesh  2013   2.019500   5.483521   86.433498
19  Arunachal Pradesh  2014   2.000000   5.000000   69.400000
20              Assam  2005   5.327000  17.383051  111.948454
21              Assam  2006   6.190571  16.210295   94.942857
22              Assam  2007   7.359834  14.167828   84.858213
23              Assam  2008   6.377759  13.456973   92.121186
24              Assam  2009   6.822799  15.251051   96.982746
25              Assam  2010   7.050863  15.232516   81.745116
26              Assam  2011   6.567202  14.599319   81.909885
27              Assam  2012   6.083541  13.966122   82.074653
28              Assam  2013   6.941609  15.436926  124.681418
29              Assam  2014   6.808833  14.052943   80.743571
30              Bihar  2005  12.279104  34.070175  103.388060
31              Bihar  2006   9.984524  39.443787  111.082840
32              Bihar  2007   9.745198  41.575000  116.362162
33              Bihar  2008   6.864486  38.311818  118.654412
34              Bihar  2009   4.708696  32.617460   98.477612
35              Bihar  2010   6.488000  36.116788  165.280575
36              Bihar  2011   4.250000  35.734375  158.030303
37              Bihar  2012   6.073298  34.155844  161.663900
38              Bihar  2013   7.896597  32.577313  165.297498
39              Bihar  2014   9.719895  30.998782  168.931095

In [175]:
sorted_df.to_csv('Final_Air_Quality_Data.csv',index=False)